## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head(10)

,City_id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,12/4/2021 4:08,5.4112,100.3354,84.13,65,20,13.80,few clouds
1,1,Newport,GB,12/4/2021 4:06,51.5877,-2.9984,47.44,92,99,25.70,light rain
2,2,Tual,ID,12/4/2021 4:07,-5.6667,132.7500,84.02,73,64,9.22,broken clouds
3,3,Parvatipuram,IN,12/4/2021 4:08,18.7833,83.4333,69.37,92,100,5.39,overcast clouds
4,4,Surab,PK,12/4/2021 4:08,28.4914,66.2585,49.86,34,0,2.35,clear sky
5,5,Westport,US,12/4/2021 4:08,41.1415,-73.3579,38.98,70,1,3.00,clear sky
6,6,Avarua,CK,12/4/2021 4:08,-21.2078,-159.7750,75.25,94,75,9.22,moderate rain
7,7,Phrae,TH,12/4/2021 4:08,18.0833,100.0000,80.60,41,7,2.46,clear sky
8,8,Qaanaaq,GL,12/4/2021 4:08,77.4840,-69.3632,3.94,90,99,6.51,overcast clouds
9,9,Tambopata,PE,12/4/2021 4:08,-12.7333,-69.1833,75.15,90,79,1.68,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
enter_minimum_temperature = int(input('What is the minimum temperature you want in your trip?'))
enter_maximum_temperature = int(input('What is the maximum temperature you want in your trip?'))

What is the minimum temperature you want in your trip?70
What is the maximum temperature you want in your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= enter_maximum_temperature) & \
                                       (city_data_df["Max Temp"] >= enter_minimum_temperature)]
preferred_cities_df.head(10)

,City_id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,12/4/2021 4:08,5.4112,100.3354,84.13,65,20,13.80,few clouds
2,2,Tual,ID,12/4/2021 4:07,-5.6667,132.7500,84.02,73,64,9.22,broken clouds
6,6,Avarua,CK,12/4/2021 4:08,-21.2078,-159.7750,75.25,94,75,9.22,moderate rain
7,7,Phrae,TH,12/4/2021 4:08,18.0833,100.0000,80.60,41,7,2.46,clear sky
9,9,Tambopata,PE,12/4/2021 4:08,-12.7333,-69.1833,75.15,90,79,1.68,broken clouds
13,13,Hithadhoo,MV,12/4/2021 4:08,-0.6000,73.0833,82.40,75,31,11.88,scattered clouds
17,17,Riberalta,BO,12/4/2021 4:09,-10.9833,-66.1000,75.87,75,100,2.59,overcast clouds
25,25,Mahebourg,MU,12/4/2021 4:09,-20.4081,57.7000,82.26,73,3,11.10,clear sky
30,30,Saint-Philippe,RE,12/4/2021 4:09,-21.3585,55.7679,82.22,79,22,9.78,few clouds
31,31,Airai,TL,12/4/2021 4:09,-8.9266,125.4092,70.74,69,97,3.29,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_id                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_id                227
City                   227
Country                227
Date                   227
Lat                    227
Lng                    227
Max Temp               227
Humidity               227
Cloudiness             227
Wind Speed             227
Current Description    227
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,84.13,few clouds,5.4112,100.3354,
2,Tual,ID,84.02,broken clouds,-5.6667,132.7500,
6,Avarua,CK,75.25,moderate rain,-21.2078,-159.7750,
7,Phrae,TH,80.60,clear sky,18.0833,100.0000,
9,Tambopata,PE,75.15,broken clouds,-12.7333,-69.1833,
13,Hithadhoo,MV,82.40,scattered clouds,-0.6000,73.0833,
17,Riberalta,BO,75.87,overcast clouds,-10.9833,-66.1000,
25,Mahebourg,MU,82.26,clear sky,-20.4081,57.7000,
30,Saint-Philippe,RE,82.22,few clouds,-21.3585,55.7679,
31,Airai,TL,70.74,overcast clouds,-8.9266,125.4092,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params['location'] = f'{lat},{lng}'
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Match Found")
    except (IndexError):
        print("Hotel not found... skipping.")

Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found
Match Found
Hotel not found... skipping.
Match Found
Match Found
Match Found
Match Found
Match Found

In [9]:
hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
681,Omboue,GA,76.05,overcast clouds,-1.5746,9.2618,Hotel Olako
682,Itacare,BR,73.83,overcast clouds,-14.2775,-38.9967,Ecoporan Hotel Charme Spa & Eventos
684,Kroya,ID,84.72,light rain,-7.6331,109.2461,RUSTANTO Fam
687,Loubomo,CG,71.94,moderate rain,-4.1997,12.6739,La Dolisienne
688,Antonina,BR,70.74,overcast clouds,-25.4286,-48.7119,Hotel Capelista

In [10]:
hotel_df.count()

City                   227
Country                227
Max Temp               227
Current Description    227
Lat                    227
Lng                    227
Hotel Name             227
dtype: int64

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df['Hotel Name']!="")]
clean_hotel_df.count()

City                   214
Country                214
Max Temp               214
Current Description    214
Lat                    214
Lng                    214
Hotel Name             214
dtype: int64

In [12]:
clean_hotel_df.count()

City                   214
Country                214
Max Temp               214
Current Description    214
Lat                    214
Lng                    214
Hotel Name             214
dtype: int64

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "..//Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [15]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [17]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))